@import "globals";

/*
#################################################
Generell Part
#################################################
 */
html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;

  display: flex;

  background: url("../assets/img/ui_assets/main/background.png") no-repeat center;
  background-size: 100% 100%;

  section {
    &#s_menu, &#s_shop {
      width: 20%;
    }

    &#s_main {
      width: 60%;
    }
  }

  .currency {
    @include currency();
    margin-left: 3px;
  }
}

.tooltip {
  position: relative;
  display: inline-block;

}

.tooltip .tooltiptext {
  top: -1.6rem;
  left: 1.2rem;
  visibility: hidden;
  width: auto;
  background-color: #140F0B;
  @include text();
  font-size: 1.2rem;
  color: $text_special;
  text-align: center;
  border-radius: 6px;
  border: 2px solid $text_special;
  padding: 1px 8px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*
#################################################
Main Part
#################################################
 */

#s_main {
  display: flex;
  align-items: center;
  flex-direction: column;

  #ma_klicker {
    width: clamp(100px, 200px, 300px);
    height: clamp(100px, 200px, 300px);

    aspect-ratio: 1/1;

  }

  #ma_header {

    min-width: 40%;
    min-height: 11%;

  }

  #ma_screen{
    position: relative;
    width: 100%;
    height: 100%;
  }
}

#ma_header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url("../assets/img/ui_assets/main/title_background.png") no-repeat center;
  background-size: 100% 100%;
  margin-top: 2%;

  h1 {
    @include header(true);
    padding-top: 2%;
    margin: 0;
  }
  #ma_currentMilk{
    @include text();
    font-size: 2rem;
    margin-right: 1%;
  }
  h2{
    margin: 0;
    text-align: center;
  }
  .currencyTitle{
    @include currency(1.8rem);
  }
}

#ma_klicksEffect{
  .klickEffect{
    user-select: none;
    pointer-events: none;
    position: absolute;

    @include text();
    text-shadow: 0px 0px 4px rgba(0,0,0,1);

    animation-name: klickEffect;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
  }
}

@keyframes klickEffect {
  0% {opacity: 1; top: var(--top); left: var(--left)}
  100% {opacity: 0;display: none; top: calc(var(--top) - 5%); left: var(--left)}

}

#ma_klicker {
  margin-top: 5%;
  background: url("../assets/img/ui_assets/main/clicker_background.png") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  #ma_klick {
    user-select: none;
    min-width: 95%;
  }

  .klickDown{
    min-width: 110% !important;

  }

}

#ma_screen {


  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


  img{
    position: absolute;
    overflow-x: hidden;
  }
  #ma_overworld{
    z-index: -10;
    top: 48%;
    left: -9%;
    width: 110%;
  }
  #ma_flower{
    z-index: -5;
    width: 12%;
    top: 65%;
    left: 82%;
  }
  #ma_bauer{
    width: 9%;
    top: 50%;
    left: 25%;
  }
  #ma_baum{
    width: 35%;
    top: 30%;
  }
  #ma_weide{
    width: 20%;
    top: 56%;
    left: 60%;
  }
  #ma_lkw{
    z-index: -3;
    width: 35%;
    top: 50%;
    left: 80%;
  }
  #ma_minen{
    width: 11%;
    top: 65%;
  }
  #ma_leitung{
    width: 45%;
    top: 85%;
    left: 8%;
  }
  #ma_maschine{
    width: 25%;
    top: 50%;
    left: 35%;
  }
  #ma_bauernhof{
    z-index: -12;
    width: 35%;
    left: -7%;
    top: 10%;
  }
  #ma_fabrik{
    z-index: -12;
    width: 32%;
    left: 72%;
    top: 11%;
  }
  #ma_turm{
    z-index: -13;
    width: 25%;
    top: -12%;
    left: 15%;
  }
}

