@import "globals";
/*
#################################################
Upgrades Part
#################################################
 */

#s_upgrades{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;

}

#u_book{
  position: absolute;
  width: 65%;
  left: 17.5%;
  top: 2%;
}

#u_header{
  position: absolute;
  width: 28%;
  height: 6.5vw;
  left: 36%;
  top: 1%;
  background: url("../assets/img/ui_assets/upgrades/titleBanner.png") center;
  background-size: 100% 100%;
  h1{
    position: relative;
    top: 0.8vw;
    @include header(true);
    margin: 0;
  }
}

#u_closeButton{
  position: absolute;
  border: 0;
  left: 79.5%;
  top: 1%;
  width: 4vw;
  height: 4vw;
  background: url("../assets/img/ui_assets/upgrades/closeButton.png") center;
  background-size: 100% 100%;
}

#u_content{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;

  left: 20vw;
  top: 8vw;
  width: 59.5vw;
  height: 37vw;

  .u_upgradePath{
    width: 50%;
    height: 20%;

    h2{
      @include header(false);
      color: #6B4615;
      margin: 0;
    }

    .u_upgrades{

      width: 100%;
      height: 40%;

      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .u_upgrade{
        @include text();
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: auto;
        text-align: center;
        height: 100%;
        user-select: none;
        min-width: 15%;
      }
      .u_toSell{
        background: url("../assets/img/ui_assets/upgrades/frame_blue.png") center no-repeat;
        background-size: contain;
      }
      .u_bought{
        background: url("../assets/img/ui_assets/upgrades/frame_green.png") center no-repeat;
        background-size: contain;
      }
    }
  }
}

